flask
flask-cors
firebase-admin
joblib
scikit-learn
pandas
gunicorn           # production WSGI server
requests           # often needed for external APIs or Firebase token validation
numpy              # used under the hood by pandas/sklearn
transformers
torch
python-dotenv
deepface
whisper